{% extends "layout.html.twig" %}

{% block content %}
    <p>Run this in your terminal to get the latest Composer version:</p>
    <code>curl -s http://getcomposer.org/installer | php</code>
    <p>This installer script will simply check some php.ini settings, warn you if they are set incorrectly, and then download the latest composer.phar in the current directory</p>

    <p>If you prefer to download a phar directly, here are the available composer.phar archives:</p>
    <a href="{{ app.request.basePath }}/composer.phar">Latest Snapshot</a>
{% endblock %}
