{% extends "layout.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="logo">
        <img src="{{ app.request.basePath }}/img/logo-composer-transparent.png">
        <h1 class="slogan">
            Dependency Manager for PHP
        </h1>
    </div>

    <p class="buttons">
        <a href="{{ path('docs.view', {page: '00-intro.md'}) }}">Getting Started</a>
        <a href="{{ path('download') }}">Download</a>
    </p>
    <p class="buttons">
        <a href="{{ path('docs') }}">Documentation</a>
        <a href="http://packagist.org/">Browse Packages</a>
    </p>
    <p class="buttons">
        <a href="http://github.com/composer/composer/issues">Issues</a>
        <a href="http://github.com/composer/composer">GitHub</a>
    </p>
    <p class="buttons">
        <a href="http://apigen.juzna.cz/doc/composer/composer/">API</a>
    </p>
{% endblock %}

{% block footer %}
    Logo credits: <a href="http://wizardcat.com/">WizardCat</a>
{% endblock %}