{% extends "layout.html.twig" %}

{% block header %}
    <div>
        <img src="{{ app.request.basePath }}/img/logo-composer-transparent.png">
    </div>

    <h1 class="slogan">
        Dependency Manager for PHP
    </h1>
{% endblock %}

{% block content %}
    <p class="buttons">
        <a href="{{ path('docs.view', {page: '00-intro'}) }}">Getting Started</a>
        <a href="{{ path('download') }}">Download</a>
    </p>
    <p class="buttons">
        <a href="{{ path('docs') }}">Documentation</a>
        <a href="http://packagist.org/">Browse Packages</a>
    </p>
{% endblock %}
