/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; background-color: #FFF; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

#main, header {
  margin: auto;
  max-width: 980px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 150%;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #44f;
}

header {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 40px;
}

header a {
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  display: inline-block;
  border-right: 1px solid #ccc;
}

header a.last {
  border: 0;
}

header a.active {
  color: #000;
}

header .slogan {
  margin-top: 20px;
}

.logo {
  text-align: center;
}

footer {
  margin: auto;
  max-width: 600px;
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
}

h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor {
  display: inline-block;
  margin-left: 5px;
  color: #ccc;
}

.buttons {
  text-align: center;
  margin: 0;
  padding: 0;
}

.buttons a {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: #eee;
  transition: all 0.20s ease;
}

.buttons a:hover {
  background: #ffe;
  box-shadow: 0px 6px 8px -10px #323232;
}

blockquote {
  background: #ddf;
  border: 1px solid #ddf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 20px;
  padding: 10px;
}

blockquote p {
  margin: 0;
}

.toc, .toc ul {
  padding-left: 40px;
  margin: 0 0 10px 0;
  list-style: decimal outside none;
  color: #000;
}

.toc ul {
  padding-left: 20px;
}

code:not([class*="language-"]) {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 4px;
  display: inline-block;
  line-height: 125%;
  margin: 0 2px;
}

pre.installer {
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

.installer-warning {
  background: #FFECDD;
  border-radius: 4px;
  margin: 0 20px;
  padding: 10px;
}

.prev-next {
  text-align: center;
  margin-top: 40px;
}

li .tagline {
  display: block;
  margin-bottom: 5px;
}

.fork-and-edit {
  background: url("../img/github.gif") no-repeat scroll 0 0 transparent;
  font-style: italic;
  height: 40px;
  margin: 40px auto 0;
  max-width: 580px;
  padding-top: 5px;
  padding-left: 40px;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #999;
}

tr:last-child {
  border-bottom: none;
}

th, td {
  text-align: left;
  padding: 0.5em;
}

#searchbar {
  text-align: right;
}

input#docsearch {
  width: 260px;
  padding: 4px 4px 2px 4px;
  box-shadow: 0px 5px 6px -2px #fafafa;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding: 0.4em 0.8em;
  background-color: #fbfbff;
  transition: all 0.2s ease;
}

input#docsearch:focus {
  box-shadow: 0px 5px 6px -2px #e6e6e6;
  border-color: #b4b4b4;
}

.ds-dropdown-menu {
  width: 600px;
}

h1 .latest {
  font-size: .5em;
  position: relative;
  top: -5px;
  left: 10px;
}

.license {
  background-color: rgba(25, 25, 25, 0.01);
  padding: 7px 10px;
  font-style: italic;
  color: #646464;
  font-size: 0.85em;
}

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* ==|== media queries ====================================================== */

@media (max-width: 800px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* ==|== print styles ======================================================= */

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
