{% extends "layout.html.twig" %}

{% import _self as macros %}

{% block content %}
    <div id="searchbar" class="clearfix">
        <input id="docsearch" type="search" placeholder="Type here to search documentation..."
               title="Enter text here and submit to search the documentation" aria-label="Search box: enter text here and submit to search the Composer documentation"/>
    </div>

    <h1>{{ version }} - released {{ date }}</h1>
    <p><a href="https://github.com/composer/composer/releases/tag/{{ version }}">View the release on GitHub</a></p>
    <h2>Changelog</h2>
    {{ changelog|raw }}
{% endblock %}
