{% extends "layout.html.twig" %}

{% import _self as macros %}

{% block content %}
    <div id="searchbar" class="clearfix">
        <div id="docsearch"></div>
    </div>

    {{ upgrade|raw }}
{% endblock %}
